@import url('https://fonts.googleapis.com/css?family=Poppins');

 body {
  margin: 1em;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
  /* background: #002966; */
  text-align: center; 
}


div{
  margin: auto;
  width: 80%;
  box-shadow: 0 0 15px dodgerblue; 
  padding: 1em;
  background:#e6f5ff;
 
}

ul {
    list-style-type: none;
    background: #b3ebff;
} 

#item{
  background:#ccebff;
  
  
  
}

#brand{
  background: #ccebff;
}

#units{
  background: #ccebff;
}

#quantity{
  background: #ccebff;

}

button{
  width: 175px;
  border-radius: 7%;
  border:none;
  color: white;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.50), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #3a85db;
}
button:active {
  background-color: #4e7596;
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}




